.DS_Store
node_modules
/dist
/src/assets/img
/src/views/placeholder



# local env files
.env


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.dev
*.prod
*.ico
node_modules
